    /* global */
    
    header,
    main,
    footer {
        max-width: 960px;
        margin: 0 auto;
    }
    
    a {
        background-color: #4E6151;
        padding: 15px;
        font-size: 26px;
        color: lightgrey;
        display: block;
    }
    
    a:hover {
        color: blue;
        text-decoration: underline;
    }
    
    ul {
        display: flex;
    }
    
    main img {
        border: 1px solid #ccc;
        box-shadow: 5px 5px 5px #999;
    }
    /* end global */
    /* header */
    
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        background-color: #4E6151;
        font-family: 'Caveat', cursive;
        color: lightgrey;
        padding: 10px;
    }
    
    header img {
        width: 90px;
    }
    
    .heading h1 {
        font-size: 2rem;
        color: navy;
        margin: 0;
    }
    
    .hero img {
        width: 100%;
        height: 250px;
        grid-column: 1 / -1;
        grid-row: 1;
    }
    /* end headings */
    /* body */
    
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .action {
        background-color: rgba(240, 240, 240, 0.8);
        margin: 1em 3em;
        padding: 1em;
        text-align: center;
        grid-column: 1;
        grid-row: 1;
    }
    
    .action button {
        line-height: 2em;
        width: 100px;
        background-color: white;
        font-size: 15px;
    }
    
    body {
        background-color: gray;
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .tmpl {
        width: 100%;
        margin: auto;
    }
    
    .pcon {
        padding-top: 15px;
        display: grid;
        grid-gap: 10px;
    }
    
    @media screen and (max-width: 550px) {
        .pcon {
            display: block;
        }
    }
    
    .pcon h2 {
        padding: 10px;
        margin: auto;
        text-align: center;
    }
    
    .pcon p {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
    }
    
    .pcon img {
        width: 400px;
    }
    
    .par1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .par2 {
        grid-column: 1/2;
        grid-row: 2/2;
    }
    
    .par3 {
        grid-column: 2/2;
        grid-row: 1/2;
    }
    
    .par4 {
        grid-column: 2/2;
        grid-row: 2/2;
    }
    
    .par5 {
        padding: 20px;
    }
    
    .par5 h2 {
        text-align: center;
    }
    /* end body */
    
    section img {
        display: block;
        margin: auto;
    }
    
    .flex-container {
        display: flex;
        justify-content: center;
        margin-left: auto;
        flex-wrap: nowrap;
    }
    /* nav */
    
    nav {
        background-color: #4E6151;
    }
    
    nav a {
        text-decoration: none;
    }
    
    nav li {
        display: inline;
    }
    /* end nav */
    /* footer */
    
    footer p {
        font-size: 1rem;
        margin-left: 50px;
        padding: 20px;
        color: lightgray;
    }
    
    .social {
        display: grid;
        margin-left: auto;
        margin-right: 150px;
    }
    
    .one {
        grid-column: 1;
    }
    
    .two {
        grid-column: 2;
    }
    
    .three {
        grid-column: 3;
    }
    
    footer .ft {
        display: flex;
        background-color: #4E6151;
    }
    
    footer {
        background-color: #4E6151;
        padding: 10px;
        margin-top: 0;
    }
    
    .foot img {
        width: 20px;
    }
    
    .foot p {
        margin: 0;
        padding: 0;
        position: relative;
    }
    
    .foot {
        margin-left: auto;
        display: grid;
    }
    
    .i1 {
        grid-row: 1/2;
        grid-column: 1/2;
        margin-left: auto;
    }
    
    .p1 {
        grid-row: 1/2;
        grid-column: 2/2;
    }
    
    .i2 {
        grid-row: 2/2;
        grid-column: 1/2;
        margin-left: auto;
    }
    
    .p2 {
        grid-row: 2/2;
        grid-column: 2/2;
    }
    
    .i3 {
        grid-row: 3/3;
        grid-column: 1/2;
        margin-left: auto;
    }
    
    .p3 {
        grid-row: 3/3;
        grid-column: 2/2;
    }
    /* end footer */
    
    section {
        background-color: lightgray;
        margin-bottom: 0;
    }
    
    main {
        background-color: lightgray;
    }
    
    p {
        margin: auto;
    }
    /* amenities page */
    
    .amen {
        text-align: center;
        padding: 20px;
        margin: 0;
    }
    
    .ima {
        width: 95%;
        margin: auto;
    }
    
    .a1 {
        display: grid;
        grid-column-gap: 10px;
        padding: 20px;
    }
    
    .a1 img {
        grid-column: 1;
    }
    
    .a2 {
        display: grid;
        grid-column-gap: 10px;
        padding: 20px;
    }
    
    .a2 img {
        grid-column: 2;
        grid-row: 1;
    }
    
    .me1 {
        grid-column: 2;
        display: grid;
    }
    
    .a1 .me1 h2 {
        grid-row: 1;
        margin-top: 65px;
        text-align: center;
    }
    
    .a1 .me1 p {
        margin: 0;
        grid-row: 2;
        margin-bottom: 60px;
    }
    
    .me2 {
        grid-column: 1;
        display: grid;
    }
    
    .a2 .me2 h2 {
        grid-row: 1;
        margin-top: 65px;
        text-align: center;
    }
    
    .a2 .me2 p {
        margin: 0;
        grid-row: 2;
        margin-bottom: 60px;
    }
    /* end amenities */
    /* reservations page */
    
    .resf {
        display: grid;
        text-align: center;
        padding: 20px;
    }
    
    .resf textarea {
        width: 200px;
    }
    
    .resf input {
        margin: auto;
        width: 200px;
    }
    
    .resf h2 {
        font-size: 18px;
    }
    
    .d1 {
        margin: auto;
        grid-row: 1;
        grid-column: 1;
    }
    
    .d2 {
        margin: auto;
        grid-row: 1;
        grid-column: 2;
    }
    
    .sr {
        margin: auto;
        grid-row: 2;
        grid-column: 1;
    }
    
    .gue {
        margin: auto;
        grid-row: 2;
        grid-column: 2;
    }
    
    .beds {
        margin: auto;
        grid-row: 3;
        grid-column: 1;
    }
    
    .pho {
        margin: auto;
        grid-row: 3;
        grid-column: 2;
    }
    
    .ema {
        margin: auto;
        grid-row: 4;
        grid-column: 1;
    }
    
    .old {
        margin: auto;
        grid-row: 4;
        grid-column: 2;
    }
    
    .reserve {
        margin: auto;
        width: 100px;
        padding-bottom: 20px;
    }
    /* end reservation */
    /* temple spotlight */
    
    .templediv {
        width: 100%;
        text-align: center;
        padding-top: 50px;
    }
    
    .tmplinfo {
        display: grid;
        text-align: center;
        padding: 20px;
    }
    
    .tm1 {
        grid-row: 1;
        grid-column: 1;
    }
    
    .tm2 {
        grid-row: 1;
        grid-column: 2;
    }
    
    .tm3 {
        grid-row: 2;
        grid-column: 1;
    }
    
    .tm4 {
        grid-row: 2;
        grid-column: 2;
    }
    
    .tm5 {
        grid-row: 3;
        grid-column: 1/3;
    }
    
    main hr {
        height: 3px;
        background-color: #4E6151;
    }